/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-affd3870-5tlbjrgs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-99c1a-bvrlfw1dzc   {
	background-size: contain;
}
 
 #vbid-71d7fd6b-dgmttjrb.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 200px;
} 
 #vbid-71d7fd6b-dgmttjrb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1278f281-bjhlbefy.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 903px;
} 
 #vbid-1278f281-bjhlbefy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-213acdec-x2kqkp3l.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 675px;
}
 
 #vbid-99c1a-dj5xnmsbgz   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-1a32e-dgmttjrbhp.master.item-box    {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 200px;
} 
 #vbid-1a32e-dgmttjrbhp.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-99c1a-vmcu1tlmfl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 675px;
}
 
 #vbid-99c1a-mjkig8rirg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-99c1a-hst5ard4rb   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-99c1a-nabemvkv8r.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 200px;
} 
 #vbid-99c1a-nabemvkv8r.item-box > .item-wrapper    {
	max-width: 862px;
}
 
 #vbid-99c1a-ebos6h9up2   {
	background-position: 46.9696960449219% 89.3939361572266%;
}

 
 #vbid-99c1a-e3y93arddi   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-99c1a-y5n44mbid7   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-99c1a-27p8cxhrpr   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-99c1a-qroz6xsdat   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-463a6-x2kqkp3lzn.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 675px;
}
 
 #vbid-99c1a-vss4b5bmqf.master.item-box    {
	min-height: 603px;
}
 
 #vbid-99c1a-nwcbzgmrme   {
	background-size: contain;
}
 
 #vbid-99c1a-8g3xnf8xwh   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-99c1a-yhinbldc8w   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-67673d0a-4qvvvvlj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
}
 
 #vbid-85033c89-ghwf2ehl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 823px;
} 
 #vbid-85033c89-ghwf2ehl.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1eec1-z3kauckbbz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 846px;
}
 
 #vbid-ed169058-62g9ouzd.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 466px;
}
 
 #vbid-99c1a-hbzhniqorx   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-00df5083-oipxnrik.master.item-box    {
	padding-top: 20px;
	padding-bottom: 40px;
	min-height: 636px;
} 
 #vbid-00df5083-oipxnrik.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #element-7688df5865f1dca.master.item-box    {
	padding-top: 0px;
	min-height: 522px;
}
 
 #vbid-99c1a-pdlvvqrnie   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-99c1a-fxg4zzx3lc   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-99c1a-tk090b5cfn.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 420px;
}
 
 #vbid-e2ce5d04-4rb8jdkg.master.item-box    {
	padding-top: 35px;
	padding-bottom: 30px;
	min-height: 636px;
} 
 #vbid-e2ce5d04-4rb8jdkg.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-99c1a-bttihlum1m.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 228px;
}
 
 #vbid-99c1a-3anso6lehq   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-99c1a-25uabgh7pz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 850px;
}
 
 #vbid-0c6a3-pc2eruqhsx.master.item-box    {
	padding-top: 25px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-0c6a3-pc2eruqhsx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-99c1a-o4icetegmv.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-99c1a-o4icetegmv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-99c1a-4a5xc7xlm3   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-99c1a-ngz3b9fyim.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-99c1a-ngz3b9fyim.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-99c1a-arghjvgkue   {
	background-size: contain;
}
 
 #vbid-99c1a-lkpowbrmux.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
} 
 #vbid-99c1a-lkpowbrmux.item-box > .item-wrapper    {
	max-width: 1006px;
}
 
 #vbid-99c1a-cthidvpusg.master.item-box    {
	min-height: 773px;
}
 
 #vbid-60c6aa00-bjhlbefy.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 903px;
} 
 #vbid-60c6aa00-bjhlbefy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4f3d33fb-0uqncgl5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 329px;
}
 
 #vbid-99c1a-asnlzpphba   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-99c1a-fvuikldtk8.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-99c1a-hnapqdwvgr   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-99c1a-qrdtmgbi2s   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-99c1a-yeff0jfayv.master.item-box    {
	min-height: 699px;
}
 
 #vbid-99c1a-puisfiaakb   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-b2ef8-vfritmxchl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 449px;
}
 
 #vbid-99c1a-1vh6iwqqml   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-99c1a-d341iqfcur   {
	background-size: 92%;
}
 
 #vbid-99c1a-vbaxqi8j9v   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-99c1a-mlfaiyslgo   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-99c1a-icfeuwyos5   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-99c1a-j06yqv6noo   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-99c1a-3dncxbyjaa   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-99c1a-celsf9gon8   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-707c7586-qqcb9mt2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}